<nav class="navigation">
  <ul class="navigation__list">
    <li class="navigation__item">
      <a href="#" class="navigation__link" routerLink="/" (click)="navigationClickHandler($event)">Recently Added</a>
    </li>
    <li class="navigation__item">
      <a href="#" class="navigation__link" routerLink="/go" (click)="navigationClickHandler($event)">Go</a>
    </li>
    <li class="navigation__item">
      <a href="#" class="navigation__link" routerLink="/settings" (click)="navigationClickHandler($event)">Settings</a>
    </li>
  </ul>
</nav>
