<div class="wrapper">
  <div class="settings">
    <h2 class="settings__title">Settings</h2>
    <form action="" class="settings__form">
      <label for="words" class="settings__words-number">
        Number of words
        <button class="settings__button">-</button>
        <input type="text" id="words" value="5" class="settings__input">
        <button class="settings__button">+</button>
      </label>
      <input type="radio" id="language-en" name="language" value="en|ru" class="settings__radio" checked>
      <label for="language-en" class="settings__language">
        EN to RU
      </label>
      <input type="radio" id="language-ru" name="language" value="ru|en" class="settings__radio">
      <label for="language-ru" class="settings__language">
        Ru to EN
      </label>
      <button type="submit" class="settings__submit">Save</button>
    </form>

  </div>
</div>
