<div class="container">
  <form
    action=""
    class="film__form"
    [formGroup]="filmEditForm"
    (submit)="onSubmit()"
  >
    <div class="buttons">
      <button
        *ngIf="!sidebarModalService.isEditing"
        class="button edit"
        (click)="editClickHandler()"
      >
        <ng-icon name="featherEdit" size="2.5em"></ng-icon>
      </button>
      <button
        *ngIf="sidebarModalService.isEditing"
        class="button save"
        [disabled]="!filmEditForm.valid"
        type="submit"
      >
        <ng-icon name="featherSave" size="2.5em"></ng-icon>
      </button>
      <button
        *ngIf="filmsService.getCurrentFilm()?.id !== '-1'"
        class="button delete"
        type="button"
        (click)="onDelete()"
      >
        <ng-icon name="featherTrash2" size="2.5em"></ng-icon>
      </button>
    </div>
    <div class="wrapper">
      <div class="avatar-wrapper">
        <label for="avatar" class="textfield__label film__label--avatar">
          <input
            type="file"
            name="avatar"
            id="avatar"
            (change)="onLogoUpload($event.target)"
            class="film__avatar"
            placeholder="фото"
          />
          <div class="film__photo">
            <img
              [src]="filmsService.getCurrentFilm()?.logo"
              *ngIf="filmsService.getCurrentFilm()?.logo"
              alt="Logo"
              class="image"
            />
            <img
              src="../../assets/images/no-image.jpg"
              *ngIf="!filmsService.getCurrentFilm()?.logo"
              alt="Logo"
              class="image"
            />
          </div>
        </label>
      </div>
      <div class="fields-wrapper">
        <span
          >Рейтинг:
          <app-rating
            [id]="filmsService.getCurrentFilm()?.id || ''"
            [rating]="filmsService.getCurrentFilm()?.rating || 0"
            (changeRatingEvent)="updateRating($event)"
          ></app-rating
        ></span>
        <label for="name" class="textfield__label">
          <input
            type="text"
            name="name"
            formControlName="name"
            id="name"
            class="textfield__input"
            placeholder="Название"
          />
          <div
            class="error-message"
            *ngIf="filmEditForm.controls.name.errors?.['required']"
          >
            Обязательное поле
          </div>
        </label>
        <label for="type" class="textfield__label">
          <input
            type="text"
            name="type"
            placeholder="Тип"
            formControlName="type"
            id="type"
            class="textfield__input"
          />
        </label>
        <label for="genre" class="textfield__label">
          <input
            type="text"
            name="genre"
            placeholder="Жанр"
            formControlName="genre"
            id="genre"
            class="textfield__input"
          />
        </label>
        <label for="country" class="textfield__label">
          <input
            type="text"
            name="country"
            placeholder="Страна"
            formControlName="country"
            id="country"
            class="textfield__input"
          />
        </label>
        <label for="director" class="textfield__label">
          <input
            type="text"
            name="director"
            placeholder="Режисер"
            id="director"
            formControlName="director"
            class="textfield__input"
          />
        </label>
        <label for="artists" class="textfield__label">
          <input
            type="text"
            name="artists"
            placeholder="В ролях"
            id="artists"
            formControlName="artists"
            class="textfield__input"
          />
        </label>
      </div>
    </div>
    <label for="description" class="textfield__label">
      <textarea
        name="description"
        id="description"
        formControlName="description"
        rows="5"
        class="textfield__input"
        placeholder="Описание"
      ></textarea>
    </label>
    <label for="impressions" class="textfield__label">
      <textarea
        name="impressions"
        id="impressions"
        formControlName="impressions"
        rows="5"
        class="textfield__input"
        placeholder="Впечатления"
      ></textarea>
    </label>
  </form>
</div>
