.rating-info-area {
  overflow: hidden;
  display: flex;
  width: 150px;
  margin: 0;
  margin-bottom: 10px;
}

.star {
  width: 30px;
  padding: 0;
  font-size: 25px;
  line-height: 25px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
  &::before {
    content: "★";
  }
}

.checked {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}
