:host {
  overflow-y: auto;
}

.preview {
  display: flex;
  gap: 16px;
  padding: 8px;
  cursor: pointer;
  &:hover, &:focus{
    background-color: #222222;
  }
}

.logo {
  height: 60px;
  width: 40px;
  object-fit: cover;
}

.wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.title {
  font-weight: bold;
  padding: 0;
  margin: 0;
}